[submodule "utils"]
	path = utils
	url = https://github.com/mangolite/utils.git
[submodule "mangolite"]
	path = mangolite
	url = https://github.com/mangolite/mangolite.git
[submodule "dev_web"]
	path = dev_web
	url = https://github.com/mangolite/dev_web.git
